@font-face{
    font-family: Work Sans;
    src: url(./WorkSans-Regular.ttf);
    font-family: Space Mono;
    src: url(./SpaceMono-Regular.ttf);
}
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background: hsla(0, 0%, 17%, 1) !important;
}
.a2{
    color: #FFF !important;
    font-family: Work Sans !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 140% !important; /* 22.4px */
    padding: 20px 40px !important;
}
.navbtn{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    border-radius: 20px;
    background: var(--call-to-action, #A259FF); 
    width: 152px;
    height: 60px;
    border: 1px solid #A259FF;
}
.main, .first, .second{
    width: 1050px !important;
}
.h2top{
    color: var(--white, #FFF);
    font-family: Work Sans;
    font-size: 51px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 56.1px */
    text-transform: capitalize;
}
.ptop{
    color: var(--white, #FFF);
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
}
.p1{
    color: var(--white, #FFF);
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 30.8px */
    text-transform: capitalize;
}
.divborder{
    border-bottom: 2px solid hsla(60, 0%, 52%, 1);
}
.p2{
    color: var(--caption-label-text, #858584);
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 30.8px */
    text-transform: capitalize;
}
.firstdiv{
    width: 1050px;
    height: 46px;
    border: 1px solid hsla(0, 0%, 23%, 1);
    border-radius: 20px;
    padding-top: 5px;
}
.row_{
    height: 46px;
}
.p3{
    color: var(--caption-label-text, #858584);
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}
.seconddiv{
    width: 1050px;
    height: 84px;
    border-radius: 20px;
    background-color: hsla(0, 0%, 23%, 1);
    border: none;
}
.d1{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: hsla(0, 0%, 17%, 1);
    padding-top: 2px;
}
.row1{
    height: 84px;
}
.pnumb{
    color: var(--green, #00AC4F);
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}
.pnumb2{
    color: var(--text, #FFF);
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}
.fluid3{
    background-color: hsla(0, 0%, 23%, 1) !important;
    height: 334px !important;
 }
 .pfooter{
    color: #CCC;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
 }
 .dfooter{
    border-bottom: 1px solid hsla(60, 0%, 52%, 1) !important;
 }
 .afooter{
    font-family: Space Mono !important;
    font-size: 22px !important;
    font-weight: 700 !important;
    line-height: 35px !important;
    letter-spacing: 0em !important;
    text-decoration: none !important;
    color: #FFF !important;
}
.plast{
    color: #CCC;
    font-family: "Work Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 13.2px */
}
.form-control{ 
    width: 215px !important;
    height: 60px !important;
    background-color: hsla(0, 0%, 100%, 1) !important;
    border: 1px solid hsla(0, 0%, 100%, 1) !important;
    color: var(--background, #2B2B2B) !important;
    font-family: "Work Sans" !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 140% !important; /* 22.4px */
    border-radius: 20px !important;
}
.btninp{
    color: #FFF !important;
    text-align: center !important;
    font-family: "Work Sans" !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 140% !important; /* 22.4px */
    width: 180px !important;
    height: 60px !important;
    background-color: hsla(266, 100%, 67%, 1) !important;
    border: 1px solid hsla(266, 100%, 67%, 1) !important;
    border-radius: 20px !important;
}
.input-group{
    border-radius: 20px !important;
    width: 425px !important;
    height: 60px !important;
    background-color: hsla(0, 0%, 100%, 1) !important;
 }
 .btninp1{
    color: #FFF !important;
    text-align: center !important;
    font-family: "Work Sans" !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 140% !important; /* 22.4px */
    width: 315px !important;
    height: 46px !important;
    background-color: hsla(266, 100%, 67%, 1) !important;
    border: 1px solid hsla(266, 100%, 67%, 1) !important;
    border-radius: 20px !important;
}
@media screen and (max-width:768px) {
    .main_, .first, .second{
        width: 315px !important;
    }
    .h2top{
        font-size: 28px;
        line-height: 39.2px;
    }
    .ptop{
        font-size: 16px;
        line-height: 22.6px;
    }
    .p1, .p2{
        font-size: 14px;
        line-height: 22.6px;
    }
    .firstdiv{
        width: 315px;
    }
    .p3, .pnumb2{
       font-size: 12px;
       line-height: 13.2px;
    }
    .seconddiv{
        width: 315px;
        height: 50px;
        padding-top: 5px;
    }
    .row1{
        height: 50px;
    }
    .d1{
        display: none;
    }
    .img{
        width: 24px;
        height: 24px;
        margin-bottom: 15px;
    }
    .form-control{
        width: 315px !important;
        height: 46px !important;
       }
       .fluid3{
        height: 876px !important;
       }
       .afooter{
        font-size: 20px !important;
       }
       .dfooter{
        height: 820px !important;
       }
        .dlast{
            width: 380px !important; 
        }
        .dfooter{
            margin-top: 20px;
        }
}
